# Auto detect text files and perform LF normalization
* text=auto
<html>
<head>
  <title>Создание чего либо для GitHub Desktop</title>
</head>

<body bgcolor="#AFEEEE">
<table border="1" align="center">
<tr>
<th></th>
<th>2И</th>
</tr>
<tr>
    <th> Первая пара </th>
    <th> Моделирование и анализ ПО </th>
</tr>
<tr>
    <th> Вторая пара </th>
    <th> Моделирование и анализ ПО </th>
    
</tr>
<tr>
    <th> Третья пара </th>
    <th> Технология разработка ПО </th>
</tr>
<tr>
<th> Четвертая пара </th>
<th> Математическое моделирование </th>
</tr>
</table>
</body>
</html>

